<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .home {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            padding: 10vw 15vw;
        }

        .home div {
            background-color: azure;
            color: blueviolet;
            font-size: larger;
            padding: 30px;
        }
    </style>
</head>

<body>
    <div class="home">

        <% items.forEach(element=> { %>
            <p>TotalConfirmed: <%=element.TotalConfirmed%>
            </p>
            <p>TotalDeaths: <%=element.TotalDeaths%>
            </p>
            <p>TotalRecovered: <%=element.TotalRecovered%>
            </p>
            <p>TotalRecovered: <%=element.Date%>
            </p>
            <form action="/addDetails" method="POST">
                <input type="hidden" name="id" value="<%=element.id%>">
                <input type="hidden" name="TotalDeaths" value="<%=element.TotalDeaths%>">
                <input type="hidden" name="TotalRecovered" value="<%=element.TotalRecovered%>">
                <input type="hidden" name="Date" value="<%=element.Date%>">
                <input type="hidden" name="Country" value="<%=element.Country%>">
                <input type="submit" value="ADD TO MY RECORDS">

            </form>
            <% }) %>



    </div>


</body>

</html>